*.csv
*.jpg
*.png
*.zip
*.pt
.ipynb_checkpoints
/MAMI_project/TESTING
/MAMI_project/TRAINING
/MAMI_project/Users
/MAMI_project/versions
/MAMI_project/files_nov
/MAMI_project/preprocess_corpus
/MAMI_proj_notebooks/versions
